<p>Hi</p>
<p>The labels pdf generation event gone failed for <%= @carrier %> orders synched on <%= @creation_date %>.</p>
<p>It is requested please contact the IT team to get labels pdf</p>
<p>Thanks</p>


